@{
    ViewBag.Title = "Contact me";
    ViewBag.ReturnUrl = "Contact";
}

<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Index", "Contact", new {returnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {role = "form", @class = "comment", @novalidate = "", data_ng_controller = "ContactFormController as form"}))
        {
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" required id="name" name="name" data-ng-model="form.user.name" class="form-control" placeholder="Your name" aria-required="true"/>
            </div>
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" required id="email" data-ng-model="form.user.email" name="email" class="form-control" placeholder="Email address" aria-required="true"/>
            </div>
            <div class="form-group">
                <label for="comment">Comment: </label>
                <textarea id="comment" name="comment" class="form-control" placeholder="Your comments, please" aria-required="true"></textarea>
            </div>
            <button type="submit" data-ng-click="form.submit(contactForm)" class="btn btn-primary">Submit</button>
            <button type="reset" data-ng-click="form.reset()" class="btn btn-default">Reset</button>

        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/app")
}